#layout1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

#layout1 img{
    background-color: rgb(182, 181, 181);
    object-fit: cover;
    width: 100%;
    height: 55vh;
}

#layout1 div{
    width: 45vw;
    margin: auto;
}

#layout1 a{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin: 20px auto;
    border-radius: 2px;
}

#layout1 a:hover{
    background-color: rgb(207, 207, 207);
    color:black;
}



