#layout1{
   text-align: center;
}

#layout1 img{
    background-color: gainsboro;

    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.btn{
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}


